<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <div class="container my-4">
      <div class="jumbotron">
        <h1>Welcome to the random blog!</h1>
        <p>Login to post, your posts will be seen by any visitors of the site.</p>
      </div>
      
      <div class="">
        <h2 class="text-center">Latest Posts</h2>
        <div class="card">
          <div class="card-body">
            <p id="title" class="font-bold text-lg mb-0">This is the post title</p>
            <span id="date" class="lead text-muted mb-0">Date Posted: 18th October 2020</span>
          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>
